<ion-header>
  <ion-toolbar color="verminicial">
      <ion-back-button slot="start"></ion-back-button>
    <ion-title>Horários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-item color="azulfundo">
        <ion-label>3º Ano Ensino Médio</ion-label>
      </ion-item>
 
  
    <table>
      <tr>
        <th width="7px"  bgcolor="#141f27"></th>
        <th>Seg</th>
        <th>Ter</th>
        <th>Qua</th>
        <th>Qui</th>
        <th>Sex</th>
      </tr>
      <tr>
        <th width="7px">1</th>
        <td class="fundo-mat" rowspan="2">Mat</td>
        <td class="fundo-fil" rowspan="2">Fil</td>
        <td class="fundo-fis">Fis</td>
        <td class="fundo-bio">Bio</td>
        <td class="fundo-qui" rowspan="2">Qui</td>

      </tr>

      <tr>
        <th width="7px">2</th>
        <td class="fundo-soc">Soc</td>
        <td rowspan="2" class="fundo-mat">mat</td>
      </tr>
      <tr>
        <th width="7px">3</th>
        <td rowspan="2" class="fundo-edf">EdF</td>
        <td class="fundo-lpl"> Lpl</td>
        <td class="fundo-fil"> Fil</td>
        <td class="fundo-soc"> Soc</td>
        
      </tr>
      <tr>
        <th width="7px">4</th>
        <td rowspan="2" class="fundo-ing">Ing</td>
        <td rowspan="2" class="fundo-bio">Bio</td>
        <td class="fundo-lpl"> Lpl</td>
        <td class="fundo-mat">mat</td>
      </tr>
      <tr>
        <th width="7px">5</th>
        <td class="fundo-lpl">Lpl</td>
        <td class="fundo-edf">EdF</td>
        <td class="fundo-ing">Ing</td>
        
      </tr>

    </table>
 
</ion-content>
